h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 1.25rem 0px 1rem;
    margin-top: 20px;
    line-height: 1.2;
    font-size: calc(1.4rem + 1.5vw);
}

.mt-2 {
    margin-top: 0 !important;
}

.accordion-button:not(.collapsed) {
    background-color: rgba(0, 0, 0, 0);
    color: #dee2e6;
}

.accordion-button:focus {
    box-shadow: 0px 0px 0px 2px rgb(172, 163, 163, 0.25);
}

.image-container {
    border: 1px solid #495057;
    border-radius: 0.375rem;
    padding: 10px;
    aspect-ratio: 1 / 1;
}

.image-container img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.card img {
    max-width: 100%;
    height: auto;
}

.card-header.collapsed {
    background-color: #3aa747;
    /* Color when collapsed */
    color: #ffffff;
    /* Text color when collapsed */
}

.card-header:not(.collapsed) {
    background-color: #4a5158;
    /* Color when expanded */
    color: #000;
    /* Text color when expanded */
}
