<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Label Recognition</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <div class="row mt-2">
            <div class="col">
                <h1>Food Label Recognition</h1>
                <p>Take a picture of food products and get information on the labels their packaging might have.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="image-placeholder text-center">
                    <h3>Image Placeholder:</h3>
                    <img src="{{ url_for('static', filename='images/bio_hexagon.svg') }}" alt="Placeholder Image">
                </div>
            </div>
            <div class="col-md-6">
                <h4>Identifizierte Label:</h4>
                <div class="container mt-2">
                    <div class="accordion" id="accordionExample">
                        {% for item in data %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ loop.index }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ loop.index }}" aria-expanded="false"
                                    aria-controls="collapse{{ loop.index }}">
                                    <img height="40" src="{{ url_for('static', filename='images/' + item.img_path) }}"
                                        alt="Placeholder Image">
                                    <!-- <p>images/{{item.img_path}}</p> -->
                                </button>
                            </h2>
                            <div id="collapse{{ loop.index }}" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    {{ item.description }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!--script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script-->
    <!--script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script-->
</body>

</html>